*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #000000;
    color: #ffffff;
    padding: 2px 0 2px 10px;
}
.section1{
    display: flex;
}
.image{
    display: flex;
    width: 20vw;
    height: 20vw;
    background-color: #0000ff50;
    align-items: center;
    justify-content: center;
}
.itenscenter{
    display: flex;
    width: 20vw;
    height: 20vw;
    background-color: #00ff0050;
    align-items: center;
    justify-content: center;
}
.itensvert{
    display: flex;
    width: 20vw;
    height: 20vw;
    background-color: #ffff0050;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.itenshori{
    display: flex;
    width: 20vw;
    height: 20vw;
    background-color: #ff000070;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.stretch{
    display: flex;
    width: 20vw;
    height: 20vw;
    background-color: #ff00ff50;
    gap: 10px;
    justify-content: space-between;
}
.stretch .self{
    align-self: center;
}
